.zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 600px;
    height: 600px;
}

.grid-item {
    /* Dynamic sizing based on current grid size */
    width: calc(100% / var(--grid-size, 16));
    height: calc(100% / var(--grid-size, 16));
    border: 1px solid lightgray;
    box-sizing: border-box;
}
